################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OSSA-Website/bin/Debug/netcoreapp3.1
/OSSA-Website/obj
/OSSA-Website/OSSA-Website.csproj.user
/Helpers/bin/Debug/netcoreapp3.1
/Helpers/obj
